node_modules/
.env
eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inh3dmNqc2ZhcnFyaWJ6Y2NoamFpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODU2MTY4NDUsImV4cCI6MjEwMTE5Mjg0NX0.EwKKLo5uNQXzFJ9xdwh7_YYRZpKpfjpsktWDlbj1wkg